[Unit]
Description=Flannel network fabric

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/bash -c "until curl -s -L http://{{ etcd_ip_address }}:4001/v2/keys/coreos.com/network/config -XPUT -d value='{\"Network\": \"{{ flannel_network }}/16\"}'; do echo \"waiting for etcd to become available...\"; sleep 5; done"
ExecStart=/usr/bin/flanneld -iface={{ inventory_hostname }} -etcd-endpoints=http://{{ etcd_ip_address }}:4001
ExecStartPost=-/bin/bash -c "until [ -e /run/flannel/subnet.env ]; do echo \"waiting for write.\"; sleep 3; done"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
