{
    "kind": "Node",
    "apiVersion": "v1beta3",
    "hostIP": "{{ hostvars[item][public_network_if].ipv4.address }}",
    "metadata": {
        "name": "{{ hostvars[item][public_network_if].ipv4.address }}"
    },
    "spec": {
        "externalID": "{{ hostvars[item][public_network_if].ipv4.address }}"
    },
    "status": {
        "capacity": {
            "cpu": "1",
            "memory": "1"
        }
    }
}
